.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form {
  margin: 40px;
}

.smurfTurf {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

body {
  color: white;

}

#root {
  background-color: aquamarine;
  background-size: cover;
}

#root>div>div:nth-child(4)>button {
  /* Get your Smurf Button */
  margin: 10px;
}

#root>div>div:nth-child(5)>form>button {
  /* form button */
  margin: 15px;
}

#root>div>div:nth-child(3)>form>div:nth-child(3),
#root>div>div:nth-child(3)>form>div:nth-child(1),
#root>div>div:nth-child(3)>form>div:nth-child(2) {
  margin: 10px;
}